<ion-header>
  <ion-toolbar>
    <ion-title>Rutina de Ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding " >
  <!-- Card con datos de la rutina -->
  <ion-card *ngIf="rutinaCompleta" class="primary-color">
    <ion-card-header>
      <ion-card-title>{{ rutinaCompleta.nombre }}</ion-card-title>
      <ion-card-subtitle class="primary-color">Nivel: {{ rutinaCompleta.nivel }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ rutinaCompleta.descripcion }}</p>
      <p>
        <strong>Repeticiones del circuito:</strong> {{ rutinaCompleta.repeticiones_circuito }}<br />
        <strong>Descanso entre circuitos:</strong> {{ rutinaCompleta.descanso_entre_circuitos_segundos }} segundos
      </p>
    </ion-card-content>
  </ion-card>

 <!-- Lista completa en un único drop-down -->
<ion-accordion-group>
  <ion-accordion value="ejercicios">
    <ion-item slot="header" color="light">
      <ion-label>
        <h2>Ver Ejercicios</h2>
      </ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-list *ngIf="ejercicios?.length">
        <ion-item *ngFor="let ejercicio of ejercicios">
          <ion-thumbnail slot="start">
            <img [src]="ejercicio.imagen" alt="{{ ejercicio.nombre }}" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{ ejercicio.nombre }}</h3>
            <p>{{ ejercicio.descripcion }}</p>
            <p>
              <strong>Duración:</strong> {{ ejercicio.duracion_segundos }}s<br>
              <strong>Descanso:</strong> {{ ejercicio.descanso_segundos }}s
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>

<!--Lista de comentarios -->
<ion-card >
    <ion-card-header>
      <ion-card-title>Agregar Comentario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="agregarComentario()">
        <ion-item>
          <ion-label position="stacked">Comentario</ion-label>
          <ion-textarea [(ngModel)]="nuevoComentario.texto" name="texto" required></ion-textarea>
        </ion-item>
        <ion-button expand="block" type="submit">Enviar</ion-button>
      </form>
    </ion-card-content>
    
  </ion-card>
  <ion-list *ngIf="comments?.length" class="margin">
        <ion-item *ngFor="let comment of comments">
          <ion-label>
            <h3>{{ comment.email }}</h3>
            <p>{{ comment.body }}</p>
          </ion-label>
        </ion-item>
      </ion-list>


</ion-content>


