
:root{
--color-black: #000;
--color-white: #fff;
--color-primary: rgb(234, 171, 52);
--color-gray: #282828;

--font-size-small: 12px;
--font-size-medium: 16px;

--z-index-1:10;
--z-index-2:20;
--z-index-3:30;
--z-index-4:40;

}

html, body {
    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-medium); 
 
    
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

input{
    padding: 0;
    margin: 0;
  outline: none;
}

button{
    
    outline: none;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--color-white);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea{

    outline: none;
}

