<ion-menu contentId="main-content" type="overlay" >
  <ion-header >
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-list class="menu">

  <ion-item 
  routerLink="/user/home" 
  (click)="toggleMenu()" 
  [class.active]="isActive('/user/home')">
  <ion-icon name="home-outline"></ion-icon> Home
</ion-item>

<ion-item 
  routerLink="/user/rutina" 
  (click)="toggleMenu()" 
  [class.active]="isActive('/user/rutina')">
  <ion-icon name="fitness-outline"></ion-icon> Rutina
</ion-item>

<ion-item 
  routerLink="/user/start" 
  (click)="toggleMenu()" 
  [class.active]="isActive('/user/start')">
  <ion-icon name="caret-forward-outline"></ion-icon> Start
</ion-item>

  <ion-item 
  routerLink="/user/settings" 
  (click)="toggleMenu()" 
  [class.active]="isActive('/user/setings')">
  <ion-icon name="settings-outline"></ion-icon> Settings
</ion-item>

<ion-item 
  routerLink="/login" 
  (click)="toggleMenu()" 
  [class.active]="isActive('/login')">
  <ion-icon name="log-out-outline"></ion-icon> Log Out
</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GymAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
</div>
