


<ion-content [fullscreen]="true" class="ion-padding">

 <ion-card>
  <ion-card-header>
<ion-item lines="none">
  <ion-avatar slot="start" style="position: relative;">
     <img *ngIf="imageSource" src="{{imageSource}}" />
 <ion-button class="button-avatar" (click)="takePicture()" size="small">
  <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
</ion-button>
  </ion-avatar>
  <ion-label>
    <h2>{{ nombreUsuario }}</h2>
    <p>{{ modoDificultad }} | #{{ idUsuario }}</p>
  </ion-label>
  <ion-button fill="clear" color="dark"  routerLink="/user/settings" >
  <ion-icon name="settings-outline"></ion-icon>
</ion-button>
</ion-item>
  </ion-card-header>
  <ion-card-content s>
    
    <ion-list>
      <ion-item>
        <ion-label> Dificultad</ion-label>
        <ion-chip color={{obtenerColorDificultad()}}>
          <ion-label>{{ modoDificultad }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>

  <ion-item>
  <ion-label>Última rutina</ion-label>
  <ion-note slot="end">{{ ultimaRutina | date: 'short' }}</ion-note>
</ion-item>

 <ion-button class="ring-bounce" expand="block"  routerLink="/user/start">
      Comenzar Rutina  
  </ion-button>




  </ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Progreso Mensual</ion-card-title>
     <ion-card-subtitle>{{ fechaActual| date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <mat-progress-bar
        mode="determinate"
        [value]="progreso"

      ></mat-progress-bar>
      <p>{{ progreso }}% completado</p>
    </ion-card-content>
  </ion-card>


<ion-grid>
  <ion-row>
    <!-- Tarjeta: Días entrenados -->
    <ion-col>
      <ion-card color="light">
        <ion-card-header >
          <ion-icon name="calendar-outline" size="large" color="primary"></ion-icon>
          <ion-card-subtitle>Días entrenados</ion-card-subtitle>
          <ion-card-title>{{ diasEntrenados }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <!-- Tarjeta: Ejercicios completados -->
    <ion-col>
      <ion-card color="light">
        <ion-card-header >
          <ion-icon name="barbell-outline" size="large" color="secondary"></ion-icon>
          <ion-card-subtitle>Ejercicios totales</ion-card-subtitle>
          <ion-card-title>{{ ejerciciosCompletados }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
