


<ion-content [fullscreen]="true" class="ion-padding">

 <ion-card>
  <ion-card-header>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="https://github.com/shadcn.png" alt="Avatar">
  </ion-avatar>
  <ion-label>
    <h2>{{ nombreUsuario }}</h2>
    <p>{{ modoDificultad }} | #{{ idUsuario }}</p>
  </ion-label>
  <ion-button fill="clear" color="dark"  routerLink="/user/settings" >
  <ion-icon name="settings-outline"></ion-icon>
</ion-button>
</ion-item>
  </ion-card-header>
  <ion-card-content s>
    
    <ion-list>
      <ion-item>
        <ion-label> Dificultad</ion-label>
        <ion-chip color={{obtenerColorDificultad()}}>
          <ion-label>{{ modoDificultad }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>

  <ion-item>
  <ion-label>Última rutina</ion-label>
  <ion-note slot="end">{{ ultimaRutina | date: 'short' }}</ion-note>
</ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card color="light">
        <ion-card-header class="primary-color">
          <ion-card-subtitle>Días entrenados</ion-card-subtitle>
          <ion-card-title>{{diasEntrenados}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="light">
        <ion-card-header class="primary-color">
          <ion-card-subtitle>Ejercicios totales</ion-card-subtitle>
          <ion-card-title>{{ejerciciosCompletados}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


 <ion-button class="ring-bounce" expand="block"  routerLink="/user/start">
      Comenzar Rutina  
  </ion-button>




  </ion-card-content>
</ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Progreso Mensual</ion-card-title>
     <ion-card-subtitle>{{ fechaActual| date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <mat-progress-bar
        mode="determinate"
        [value]="progreso"

      ></mat-progress-bar>
      <p>{{ progreso }}% completado</p>
    </ion-card-content>
  </ion-card>

</ion-content>
